@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Regular.eot");
   src:
      url("../fonts/Geologica-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Regular.woff2") format("woff2"),
      url("../fonts/Geologica-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Light.eot");
   src:
      url("../fonts/Geologica-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Light.woff2") format("woff2"),
      url("../fonts/Geologica-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-SemiBold.eot");
   src:
      url("../fonts/Geologica-SemiBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-SemiBold.woff2") format("woff2"),
      url("../fonts/Geologica-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-ExtraBold.eot");
   src:
      url("../fonts/Geologica-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-ExtraBold.woff2") format("woff2"),
      url("../fonts/Geologica-ExtraBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Bold.eot");
   src:
      url("../fonts/Geologica-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Bold.woff2") format("woff2"),
      url("../fonts/Geologica-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-ExtraLight.eot");
   src:
      url("../fonts/Geologica-ExtraLight.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-ExtraLight.woff2") format("woff2"),
      url("../fonts/Geologica-ExtraLight.woff") format("woff");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Thin.eot");
   src:
      url("../fonts/Geologica-Thin.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Thin.woff2") format("woff2"),
      url("../fonts/Geologica-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Black.eot");
   src:
      url("../fonts/Geologica-Black.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Black.woff2") format("woff2"),
      url("../fonts/Geologica-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Geologica";
   src: url("../fonts/Geologica-Medium.eot");
   src:
      url("../fonts/Geologica-Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Geologica-Medium.woff2") format("woff2"),
      url("../fonts/Geologica-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
