/* Медиа-запросы */
@media (max-width: 1800px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}

/* Базовые стили */
:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   --grey: #cbcbcc;
   --green: #7f9c6c;
   --yellow: #f8cd54;
   --bg: #262324;
   --white: #fff;
}
html {
   font-size: 20px;
   line-height: normal;
   font-weight: 300;
   -webkit-text-size-adjust: 100%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
@media (max-width: 1800px) {
   html {
      font-size: 20px;
   }
}
@media (max-width: 1400px) {
   html {
      font-size: 1.95vw;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 2.6vw;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 5.33vw;
   }
}
body {
   background-color: var(--bg);
   color: var(--white);
   font-family: "Geologica";
   scrollbar-gutter: stable;
}
.container {
   max-width: 86rem;
   margin: 0 auto;
}
@media (max-width: 1800px) {
   .container {
      max-width: 66rem;
   }
}
@media (max-width: 1400px) {
   .container {
      max-width: none;
      margin: 0;
      padding: 0 2rem;
   }
}
@media (max-width: 1024px) {
   .container {
      padding: 0 1rem;
   }
}
@media (max-width: 768px) {
   .container {
      padding: 0 0.6rem;
   }
}
.section {
   margin-bottom: 11rem;
}
@media (max-width: 1800px) {
   .section {
      margin-bottom: 10rem;
   }
}
@media (max-width: 1400px) {
   .section {
      margin-bottom: 8rem;
   }
}
@media (max-width: 1024px) {
   .section {
      margin-bottom: 7rem;
   }
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
svg {
   width: 100%;
   height: auto;
}
.yellow {
   color: var(--yellow);
}
.swiper-slide img {
   object-fit: cover;
}
.swiper-wrapper {
   z-index: 0;
}

/* Шапка */
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0.6rem 0;
   z-index: 1;
   background: rgba(0, 0, 0, 0.5);
}
.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-nav__menu {
   display: flex;
   align-items: baseline;
   gap: 4rem;
}
.header-nav__menu-item:hover {
   color: var(--yellow);
}
.header-nav__menu-item:active {
   transform: scale(0.96);
}
.header-nav__menu-item {
   font-size: 0.8rem;
   display: block;
   transition:
      color 0.2s ease,
      transform 0.1s;
}
.header-nav__closer:active,
.header-nav__burger:active,
.header-nav__call:active,
.header-nav__call-mobile:active,
.btn:active {
   transform: scale(0.98);
}
.header-nav__call,
.btn,
.header-nav__call-mobile {
   font-size: 0.8rem;
   font-family: Geologica;
   color: var(--yellow);
   border: 1px solid var(--yellow);
   border-radius: 4.5rem;
   padding: 0.8rem 2rem;
   backdrop-filter: blur(4px);
   background: rgba(248, 205, 84, 0.2);
   display: block;
   width: fit-content;
   transition: transform 0.1s;
}
.header-nav__call-mobile {
   display: none;
   text-align: center;
}
.header-nav__closer {
   display: none;
   transition: transform 0.1s;
}
.header-nav__burger {
   display: none;
   transition: transform 0.1s;
}
@media (max-width: 1400px) {
   .header-nav__menu {
      gap: 2rem;
   }
   .header-nav__menu-item {
      font-size: 0.7rem;
   }
   .header-nav__call,
   .btn,
   .header-nav__call-mobile {
      font-size: 0.7rem;
      padding: 0.6rem 1.2rem;
   }
}
@media (max-width: 1024px) {
   header {
      padding: 1rem 0;
   }
   .header-nav__menu {
      gap: 1.2rem;
   }
   .header-nav__menu-item {
      font-size: 0.6rem;
   }
   .header-nav__call,
   .btn,
   .header-nav__call-mobile {
      font-size: 0.6rem;
   }
   .header-nav__menu-item:hover {
      color: var(--white);
   }
}
@media (max-width: 768px) {
   header {
      padding: 1.2rem 0.6rem;
      display: flex;
      justify-content: flex-end;
   }
   .header-nav__burger {
      display: block;
      background: none;
   }
   .header-nav {
      position: absolute;
      right: 0;
      top: 0;
      padding: 4rem 4rem 4rem 2rem;
      background: var(--bg);
      border-radius: 0.6rem 0 0 0.6rem;
      height: 100vh;
      align-items: flex-start;
      transform: translate(100%, 0);
      transition: transform 0.3s ease;
   }
   .header-nav.opened {
      transform: translate(0, 0);
   }
   .header-nav__closer {
      display: block;
      position: absolute;
      background: none;
      width: 1.2rem;
      height: 1.2rem;
      top: 1.2rem;
      right: 0.6rem;
   }
   .header-nav__menu {
      flex-direction: column;
      gap: 1.6rem;
   }
   .header-nav__call {
      display: none;
   }
   .header-nav__call-mobile {
      display: block;
   }
}

/* Первый экран */
.front {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.front__bg-alfa {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}
.front__bg {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
}
.front__bg > img {
   object-fit: cover;
}
.front__logo {
   width: 10rem;
}
.front_subtitles {
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, 0);
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.front__sub-block {
   display: flex;
   gap: 10rem;
   align-items: flex-start;
}
.front__subtitles-item.item-1 {
   width: 7rem;
}
.front__subtitles-item.item-2 {
   width: 4.5rem;
}
@media (max-width: 1800px) {
   .front_subtitles {
      top: 65%;
   }
}
@media (max-width: 1400px) {
   .front__logo {
      width: 6.5rem;
   }
}
@media (max-width: 768px) {
   .front__sub-block {
      gap: 6rem;
   }
   .front_subtitles {
      top: 60%;
   }
}

/* Блок Пространство */
.title {
   font-size: 1rem;
   text-transform: uppercase;
   text-align: center;
   color: var(--grey);
}
.place__delimiter {
   height: 5rem;
   margin: 0.4rem 0;
}
.place__main-title {
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 170%;
   letter-spacing: -0.01em;
   text-transform: uppercase;
   text-align: center;
   padding: 0 22rem;
   margin-bottom: 2rem;
}
.place__main-title span.yellow {
   color: var(--yellow);
}
.place__grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 1rem;
}
.place__img {
   aspect-ratio: 1 / 1;
   border-radius: 0.6rem;
   overflow: hidden;
}
.place__img > img {
   object-fit: cover;
}
.place__text {
   font-size: 1rem;
   line-height: 140%;
   display: flex;
   align-items: flex-end;
}
@media (max-width: 1800px) {
   .place__delimiter {
      height: 5rem;
      margin: 0.4rem 0;
   }
   .place__main-title {
      padding: 0 12rem;
   }
   .place__grid {
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
   }
   .place__text {
      font-size: 0.8rem;
   }
}
@media (max-width: 1400px) {
   .place__main-title {
      font-size: 1.2rem;
      padding: 0 4rem;
      margin-bottom: 3rem;
   }
   .place__text {
      font-size: 0.7rem;
      grid-column: 4 / 6;
   }
}
@media (max-width: 1024px) {
   .place__delimiter {
      height: 3rem;
      margin: 0.4rem 0;
   }
   .place__main-title {
      font-size: 1.2rem;
      padding: 0;
      margin-bottom: 2rem;
   }
   .place__grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 0.8rem;
   }
   .place__text {
      font-size: 0.6rem;
      grid-column: 4 / -1;
   }
}
@media (max-width: 768px) {
   .place__main-title {
      font-size: 0.8rem;
   }
   .place__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.4rem;
   }
   .place__img {
      aspect-ratio: 1 / 1.5;
   }
   .place__text {
      margin-top: 0.8rem;
      grid-column: 2 / -1;
   }
}

/* Блок Тап-лист и Меню */
.menu {
   overflow: hidden;
}
.menu-title {
   font-size: 20.62rem;
   line-height: 70%;
   text-transform: uppercase;
   margin-bottom: 4rem;
   margin-left: -0.7rem;
}
.menu-grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
}
.menu-block {
   grid-column: 4 / 6;
}
.menu-text {
   font-size: 1rem;
   line-height: 140%;
   margin-bottom: 1.2rem;
}
.menu .menu-title {
   margin-left: -1.7rem;
   color: var(--grey);
}
.menu .menu-block {
   grid-column: 1 / 3;
}
.menu .menu-grid {
   grid-template-columns: repeat(8, 1fr);
   margin-bottom: 4rem;
}
.menu-btn-block {
   margin-bottom: 1.2rem;
   display: flex;
   gap: 1.2rem;
}
.menu .menu-text {
   margin-bottom: 0;
   padding-right: 2rem;
}
.menu .btn {
   color: var(--white);
   border-color: var(--white);
   background: rgba(255, 255, 255, 0.2);
}
.swiper-menu .swiper-slide {
   aspect-ratio: 1 / 1;
   overflow: hidden;
   border-radius: 0.6rem;
}
@media (max-width: 1800px) {
   .menu-title {
      font-size: 15.794rem;
      margin-bottom: 3.5rem;
      margin-left: -0.4rem;
   }
   .menu-text {
      font-size: 0.8rem;
      margin-bottom: 1.2rem;
   }
   .menu .menu-title {
      margin-left: -1.4rem;
   }
   .menu .menu-block {
      grid-column: 1 / 4;
   }
   .menu .menu-text {
      padding-right: 10rem;
   }
   .menu .menu-grid {
      margin-bottom: 3.5rem;
   }
}
@media (max-width: 1400px) {
   .menu-title {
      font-size: 11.318rem;
      margin-bottom: 3rem;
      margin-left: -0.3rem;
   }
   .menu-grid {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3rem;
   }
   .menu-block {
      grid-column: 2 / -1;
   }
   .menu-text {
      font-size: 0.7rem;
   }
   .menu .menu-title {
      margin-left: -1rem;
   }
   .menu .menu-block {
      grid-column: 1 / 2;
   }
   .menu .menu-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .menu .menu-text {
      padding-right: 10rem;
   }
   .swiper-menu .swiper-slide {
      aspect-ratio: 1 / 1.2;
   }
}
@media (max-width: 1024px) {
   .menu-title {
      font-size: 8.74rem;
   }
   .menu-grid {
      grid-template-columns: repeat(6, 1fr);
   }
   .menu-block {
      grid-column: 4 / -1;
   }
   .menu-text {
      font-size: 0.6rem;
      margin-bottom: 1.2rem;
   }
   .menu .menu-title {
      margin-left: -0.9rem;
   }
   .menu .menu-block {
      grid-column: 1 / 2;
   }
   .menu .menu-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .menu .menu-text {
      padding-right: 7rem;
   }
   .swiper-menu .swiper-slide {
      aspect-ratio: 1 / 1.5;
   }
}
@media (max-width: 768px) {
   .menu-title {
      font-size: 4.175rem;
      margin-bottom: 2rem;
      margin-left: 0;
   }
   .menu-grid {
      display: block;
   }
   .menu-text {
      font-size: 0.6rem;
      margin-bottom: 0.8rem;
   }
   .menu .menu-title {
      margin-left: 0;
   }
   .menu .menu-grid {
      display: block;
      margin-bottom: 2rem;
   }
   .menu-btn-block {
      margin-bottom: 0.8rem;
      gap: 0.8rem;
   }
   .menu .menu-text {
      padding-right: 2rem;
   }
   .menu-grid .btn {
      width: 100%;
      text-align: center;
      flex: 1;
   }
}
